apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: dashboard-ingress
  annotations:
    nginx.org/ssl-services: "kubernetes-dashboard"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
spec:
  tls:
  - hosts:
    - dashboard.{{ wildcard }}
    secretName: kubernetes-dashboard-certs
  rules:
  - host: dashboard.{{ wildcard }}
    http:
      paths:
      - path: /
        backend:
          serviceName: kubernetes-dashboard
          servicePort: 443
